@charset "UTF-8";
@font-face{
    font-family: webfont;
    src: url(fonts/Playball.ttf);
}
/* CSS Document */
*{
    margin: auto;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightsteelblue;
    background-blend-mode: overlay;
}
/* home */
h1{
    text-align: center;
}
#home{
    width: 300px;
    margin-left: 100px;
}
#home ul li{
    list-style-type: square;
    margin-top: 10px;
}
#html{
    color: green;
}
#css{
    color: darkgreen;
}
#js{
    color: blue;
}
#php{
    color: darkgreen;
}
#flash{
    color: blue;
}
#icons{
    width: 100%;
    text-align: center;
}
#icons img{
    width: 15%;
    height: 200px;
    margin-left: 20px;
}
/* footer */
.footer{
    float: left;
    width: 100%;
    text-align: center;
}
.left-side{
    float: left;
    width: 50%;
    margin-top: 100px;
}
.right-side{
    float: right;
    width: 50%;
}
.right-side p{
    margin-top: 100px;
    margin-left: 20px;
    float: left;
}
.left-side p{
    margin-right: 20px;
    float: right;
}
/* html5 */
#html-home{
    margin: 0 auto;
    width: 1140px;
}
#html-home img{
    width: 15%;
    height: 200px;
}
#html-home a{
    margin-top: 150px;
    float: left;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
/* html5 */
/* css3 */
#css-home{
    margin: 0 auto;
    width: 1140px;
}
#css-home img{
    width: 15%;
    height: 200px;
}
#css-home a{
    margin-top: 150px;
    float: left;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
#css-home p{
    margin-top: 20px;
}
/* css3 */
/* js */
#js-home{
    margin: 0 auto;
    width: 1140px;
}
#js-left img{
    float: left;
}
#js-left{
    margin-top: 100px;
    float: left;
    width: 100%;
}
#js-right{
    margin-top: 150px;
    float: left;
    width: 100%;
}
#js-right img{
    float: right;
}
#js-home img{
    width: 15%;
    height: 200px;
}
#js-home a{
    margin-top: 150px;
    float: left;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
#js-home p{
    margin-top: 20px;
}
/* js */
/* php */
#php-home{
    margin: 0 auto;
    width: 1140px;
}
#php-home img{
    width: 15%;
    height: 200px;
}
#php-home a{
    margin-top: 150px;
    float: left;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
#php-home p{
    margin-top: 20px;
}
#php-home h2{
    margin-top: 20px;
}
#php-home img{
    margin-top: 20px;
}
/* php */
/* adobe */
#adobe-home{
    margin: 0 auto;
    width: 1140px;
}
#adobe-left img{
    float: left;
    padding-right: 30px;
}
#adobe-left{
    margin-top: 100px;
    float: left;
    width: 100%;
}
#adobe-right{
    margin-top: 150px;
    float: left;
    width: 100%;
}
#adobe-right img{
    margin-left: 450px;
}
#adobe-home img{
    width: 15%;
    height: 200px;
}
#adobe-home a{
    margin-top: 150px;
    float: left;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
#adobe-home p{
    text-align: justify;
    margin-top: 20px;
}
/* adobe */
/* gradients */
.gradient-base{
    margin: 0 auto;
    width: 800px;
    height: 400px;
}
.gradient{
    float: left;
    margin-top: 50px;
    width: 800px;
    height: 130px;
    background-color: silver;
    border: 2px solid black;
}
#horizontal{
    float: left;
    border: 2px solid blue;
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    height: 100px;
    background: linear-gradient(to right,red,green,blue);
}
#vertical{
    float: left;
    border: 2px solid blue;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 100px;
    background: linear-gradient(red,green,blue);
}
#diagonal-topleft{
    float: left;
    border: 2px solid blue;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 100px;
    background: linear-gradient(to top left,red,green,blue);
}
#diagonal-bottomleft{
    float: left;
    border: 2px solid blue;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 100px;
    background: linear-gradient(to bottom left,red,green,blue);
}
.radial{
    width: 150px;
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: radial-gradient(red 30%, green 45%,blue 25%);
}
.s50{
    width: 150px;
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: radial-gradient(red 60%,green 5%,blue 35%);
}
.repeating{
    width: 150px;
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: repeating-radial-gradient(red 50%,green 10%,blue 40%);
}
.s30{
    width: 150px;
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: radial-gradient(red 20%,green 20%,blue 30%);
}
/* gradients */